<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>기능에 변경이 있습니다</h1>
    <p>title:</p>
      <%= @function.title%>
    <hr/>
    <p>body:</p>
    <div>
      <%=@function.description%>
    </div>
  </body>
</html>